#aspot {
  overflow: hidden;
  width: 100%;
  background-color: @body-color;
  position: relative;
  z-index: 1;

  .set-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    opacity: 0;
    transition: all 1s @trans-function;
    &.default-bg {
      background-repeat: repeat;
    }
    &.bg-loaded {
      opacity: 1;
    }
  }

  .set-pre {
    opacity: 1;
    .pre-bg {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      opacity: 1;
      transition: all 1s @trans-function;
    }
    &.bg-loaded {
      .pre-bg {
        opacity: 0;
      }
    }
  }

  h1 {
    color: #fff;
    font-family: @headings-font;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    display: inline-block;
    @media @xxs {
      font-size: 32px;
    }
    @media @sm {
      font-size: 42px;
    }
  }

  p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    margin: 20px 0 0;
    @media @sm {
      font-size: 20px;
    }
  }

  .inner {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    .container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  [data-scroll="next"] {
    color: #fff;
    font-size: 24px;
    position: absolute;
    bottom: 32px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    @media @sm {
      bottom: 48px;
    }
    i {
      display: block;
    }
  }

  .set-bg {
    + .inner {
      opacity: 0;
      transition: all 0.5s @trans-function 0.75s;
    }
    &.bg-loaded {
      + .inner {
        opacity: 1;
      }
    }
  }

  .bgvid {
    width: 100%;
    height: 100%;
  }

}